name: ci
on: push

jobs:
  readme-only:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          - debugging
          - sql-templating
          - mlflow
          - guides/logging
          - spec-api-directory
          - cookbook/serialization
          - cookbook/grid
          - ml-intermediate
          - spec-api-sql
          - testing
          - guides/serialization
          - cookbook/sql-dump
          - cookbook/variable-number-of-products
          - ml-advanced
    env:
      FOLDER: ${{ matrix.folder }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: |
          eval "$(conda shell.bash hook)"
          conda env create --file $FOLDER/environment.yml --name env
          conda activate env
          pip install invoke ipywidgets pkg/

          if [ -f "$FOLDER/setup.py" ]; then
            echo "Found setup.py, installing package..."
            pip install $FOLDER/
          fi

          # test readme.md
          invoke build --name $FOLDER

          # TODO: export to argo and validate
          # ploomberutils validate-argo argo.yaml


  python-api-examples:
    runs-on: ubuntu-latest
    name: python-api-examples
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: |
          # for the tests that depend on git repos
          git config --global user.email "someone@example.com"
          git config --global user.name "Someone"

          cd python-api-examples
          eval "$(conda shell.bash hook)"
          conda create --name env python=3.9 pygraphviz -c conda-forge --yes
          conda activate env
          pip install -r requirements.txt
          pytest

  # These are examples with the same structure, we use the same script
  projects:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          # basic
          - ml-basic
          - spec-api-r
          #  intermediate
          - python-api
          # advanced
          - etl
          # guides
          - parametrized
          - spec-api-python
    env:
      FOLDER: ${{ matrix.folder }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: |
          cd $FOLDER
          eval "$(conda shell.bash hook)"
          conda env create --file environment.yml --name env
          conda activate env

          # test with dev version
          # pip install git+https://github.com/ploomber/ploomber

          if [ -f "setup.py" ]; then
            echo "Found setup.py, installing package..."
            pip install .
          fi

          ploomber build

          # run commands in readme (re-use existing conda env)
          pip install invoke
          # install ploomberutils pkg
          cd ..
          pip install pkg/
          # needed to run the readmes
          pip install ipywidgets
          # some readmes require pygraphviz
          conda install pygraphviz -c conda-forge --yes

          # test readme.md
          invoke build --name $FOLDER

  # The rest have some particular details, so we test them separately
  ml-online:
    runs-on: ubuntu-latest
    name: ml-online
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: |
          # install ploomberutils
          pip install pkg/
          pip install invoke
          pip install -e "ml-online[dev]"

          invoke build --name ml-online

          # TODO: export to argo
          # validate argo spec
          # ploomberutils validate-argo argo.yaml
          # TODO: export to airflow
